<!DOCTYPE HTML PUBLIC"-//W3C//DTD HTML 4.0 Transitional//EN">
<html><head><title>Email Signature</title>
<meta content="text/html; charset=utf-8"http-equiv="Content-Type">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
</head>
<body>
<table style="width: 580px; font-size:9pt; font-family: Arial,sans-serif;" cellpadding="0" cellspacing="0">
<tbody>
 <tr>	
  <td  style="width:166px; vertical-align:top;" valign="top">
   <a  href="https://www.cc-osartis.com/"target="_blank"><img border="0"alt="Logo"height="76"width="176"style="padding-top:10px;padding-left:9px ;width:166px; height:80px; border:0;"src="https://www.cc-osartis.com/sites/default/files/styles/entity_embed_media_image/public/2023-04/osartis_marquion.png?itok=K9mWyPJx"></a>   
  </td>
  <td style="width:44px; ; text-align:center; vertical-align:top;" valign="top">
   <img border="0"alt="Logo"width="13"style="width:13px; height:106px; border:0;"src="https://www.cc-osartis.com/sites/default/files/styles/entity_embed_media_image/public/2023-04/line.png?itok=Fua4uqrW">
  </td>
  <td style="width:300px; vertical-align:top;" valign="top">
   <table style="border-collapse: collapse;" cellpadding="0" cellspacing="0">
   <tbody>
    <tr>
     <td style="font-size:10pt; font-family:Arial,sans-serif; font-weight: bold; color:#3c3c3b; padding-bottom:5px; line-height:16px; width: 100%;">{{prenom}} {{nom}}</td>
    </tr>
    <tr>
     <td style="font-size:10pt; font-family: Arial,sans-serif; font-weight: bold; color:#3c3c3b; padding-bottom:5px; line-height:16px; width: 100%;">{{poste}}</td>
    </tr>
    <tr>
     <td style="font-size:9pt; font-family:Arial,sans-serif; color:#3c3c3b; padding-bottom:1px; line-height:14px;">
      <span style="font-weight:bold;"><img src="https://www.cc-osartis.com/sites/default/files/styles/entity_embed_media_image/public/2023-04/phone-solid.png?itok=K5-4QsQU" height="10" width="10" alt=""> : </span>{{tel}}
     </td>
    </tr>				
    <tr>
     <td style="font-size:9pt; font-family:Arial,sans-serif; color:#3c3c3b; padding-bottom:1px; line-height:14px;"><span style="font-weight:bold;"><img src="https://www.cc-osartis.com/sites/default/files/styles/entity_embed_media_image/public/2023-04/envelope-regular.png?itok=yphdO2a2" height="10" width="10" alt=""> : </span>{{adresse}} 
     </td>
    </tr>
    <tr>
      <td  style="font-size:9pt; font-family:Arial,sans-serif; color:#3c3c3b; padding-bottom:1px; line-height:14px;">
         <span style="font-weight:bold;"><img src="https://www.cc-osartis.com/sites/default/files/styles/entity_embed_media_image/public/2023-04/at-solid.png?itok=RCUZOH6b" height="10" width="10" alt=""> : </span><a href="https://www.cc-osartis.com/"target="_blank"style="color:#1793d2"> www.cc-osartis.com</a>
      </td>
    </tr>				
    <tr>
      <br>
     <td style="font-size:9pt; font-family:Arial,sans-serif; color:#3c3c3b; padding-bottom:1px; line-height:14px;"><img src="https://www.cc-osartis.com/sites/default/files/styles/entity_embed_media_image/public/2023-04/map-solid.png?itok=rN8a6Rop" height="10" width="10" alt=""> <span style="font-weight:bold;"> : </span> {{endroit}}</td>
    </tr>				
    <tr>
     <td style="padding-top:10px; vertical-align: bottom;">
        <span><a href="https://twitter.com/Osartis"target="_blank"><img src="https://www.cc-osartis.com/sites/default/files/styles/entity_embed_media_image/public/2023-04/twitter_4.png?itok=P5-Y7Wvu" alt="" width="45" height="45"></a></span><span style="padding-left: 5px;"><a href="https://www.youtube.com/@ccosartis-marquion6080"target="_blank"><img src="https://www.cc-osartis.com/sites/default/files/styles/entity_embed_media_image/public/2023-04/youtube_3.png?itok=W-2qfjI8" alt="" width="45" height="45"></a></span>
     </td>
    </tr>
   </tbody>
   </table>
  </td>
 </tr>
 <tr>
  <td style="width:530px; height: 100px; padding-top:16px;"colspan="4"width="630">
   <a  href="https://www.cc-osartis.com/"target="_blank"rel="noopener"><img src="https://i.ibb.co/nnJRr92/ezgif-com-resize.gif" height="180" width="530" alt="gif-hello" border="0"></a>
  </td>
 </tr>	
</tbody>
</table>
</body>
</html>